body{
	margin: 0px;
	overflow:hidden;
}

.blue-bench{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px
}

.green-bench{
padding-top: 40px;
padding-bottom: 20px;
padding-left: 20px
}

.yellow-bench{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px
}

.red-bench{
	margin-left:600px;
	margin-top:60px;
}

.arrow-left{
	width: 0; 
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-right: 20px solid white;
	position:absolute;
	margin-left:50px;
	margin-top: 200px;
}

.arrow-right{
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 20px solid white;
	position:absolute;
	margin-left:1200px;
	margin-top: 200px;
}

.arrow-right:hover{
	width: 0; 
	height: 0; 
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 25px solid red;
}

.arrow-left:hover{
	width: 0; 
	height: 0; 
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-right: 25px solid red;
}

.zoom-button{
	font-size: 30px;
	color: white;
	position:absolute;
	margin-left:1240px;
	margin-top:65px;
	}

.zoom-out-button{
	font-size: 38px;
	color: white;
	position:absolute;
	margin-left:1240px;
	margin-top:60px;
	}

.image-container{
	padding-top: 60px;
}

.home-button{
	position:absolute;
	margin-left:1150px;
	margin-top:-760px;
}


.circle{
	left: 100px;
	top: 180px;
	width: 200px;
	height: 200px;
	border: 2px solid grey;
	border-radius: 100%;
	position: relative;
	margin-right:auto;
	margin-left:450px;
	margin-top:-900px;
	margin-bottom:auto;
}

.dot {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	position: absolute;
	background-color: red;
}


.one {
	top: -10px;
	right: 90px;
}

.two{
	top: 20px;
	right: 14px;
}

.three{
	top: 90px;
	right: -10px;
}

.four{
	top: 160px;
	right: 14px;
}

.five{
	top: 190px;
	right: 90px;
}

.six{
	top: 160px;
	right: 160px;
}

.seven{
	top: 90px;
	right: 190px;
}

.eight{
	top: 20px;
	right: 165px;
}

.dot:hover{
	border: 4px solid #F7857F;
}

.color{
	border: 4px solid #F7857F;
}

.time{
	margin-left:1190px;
	padding-top:110px;
	font-family:helvetica;
	font-size: 20px;
}

a:link{
	text-decoration:none;
	color:white;
}
a:visited{
	
	text-decoration: none;
	color:white;
}

a:hover{
	text-decoration:none;
	}

a:active{
	text-decoration:none;
}
