

body {
  margin: 0;
  background: black;
  border-radius: 6px;
  height: 120px;
  padding: 0;
  font-size: 10px;
  font-family: times;
  overflow: scroll;
}

.name{
	font-size: 8px;
	color:white;
	position:fixed;
	 -webkit-transform: rotate(-90deg);
	 top:150px;
	 left:-30px;
}


.core{
	font-size: 8px;
	color:white;
	position:fixed;
	 -webkit-transform: rotate(-90deg);
	 top:450px;
	 left:-30px;
}

.spring{
	font-size: 8px;
	color:white;
	position:fixed;
	 -webkit-transform: rotate(90deg);
	 top:300px;
	 left:1180px;
}

.studio{
	font-size: 40px;
	color:white;
	position:fixed;
	left:400px;
	-webkit-transform: rotate(-30deg);
}

.lab{
    font-size: 40px;
	color:white;
	position:fixed;
	left:700px;
	-webkit-transform: rotate(20deg);

}

.studio-list{
	font-size: 30px;
	color:white;
	position:fixed;
	left:300px;
	top:150px;
	text-align:right;
}

.lab-list{
	font-size: 30px;
	color:white;
	position:fixed;
	left:660px;
	top:150px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: blue;
    font-weight: bold;
}

/* selected link */
a:active {
    color: white;
}