

body {
  margin: 0;
  background: black;
  border-radius: 6px;
  height: 120px;
  padding: 0;
  font-size: 5px;
  font-family: futura;
  overflow: scroll;
}

.pattern{
  width: 40px;
  height: 70px;
  background-color: blue;
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 50px;
  opacity: 0.5
  }

  .two{
  	width: 50px;
  height: 60px;
  background-color: #F2085C;
  opacity: 0.5

  }

  .three{
  	width: 100px;
  height: 60px;
  background-color: #F2085C;
  opacity: 0.5

  }

    .four{
  	width: 60px;
  height: 60px;
  background-color: blue;
  opacity: 0.5

  }


.core{
	font-size: 8px;
	color:white;
	position:fixed;
	 -webkit-transform: rotate(-90deg);
	 top:450px;
	 left:-30px;
}

.spring{
	font-size: 8px;
	color:white;
	position:fixed;
	 -webkit-transform: rotate(90deg);
	 top:300px;
	 left:1180px;
}

.studio{
	font-size: 40px;
	color:white;
	position:fixed;
	left:400px;
	-webkit-transform: rotate(-30deg);
}

.lab{
    font-size: 40px;
	color:white;
	position:fixed;
	left:700px;
	-webkit-transform: rotate(20deg);

}

.studio-list{
	font-size: 20px;
	color:white;
	position:fixed;
	left:300px;
	top:150px;
	text-align:right;
}

.lab-list{
	font-size: 20px;
	color:white;
	position:fixed;
	left:660px;
	top:150px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: white;
}