* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color:blue;
}

.stage {
  text-align: left;
  width: 2500px;
  height: 1080px;
  margin-top: -200px;
  margin-left: -610px;
  position: fixed;
  background-color:white;
  transform: scale(.50);
}

.word-wrapper{
	display: inline-block;
	margin: 10px 5px 60px 15px;
	width: 110px;
	height: 200px;
	position: relative;
	display: none;

}

.show{
	display: inline-block;
}


.letter-wrapper{
	margin: 10px 5px 60px 15px;
	width: 110px;
	height: 200px;
	position: relative;
	display: none;
	display: inline-block;
}

.message{
	 transform: scale(.30);

}

.email{
	position:fixed;
	top: 500px;
	left: 500px;
	font-family:futura;
	color:blue;
}

.white-background{
  width: 1440px;
  height: 600px;
  margin-top: 60px;
  position: fixed;
  background-color:white;
}

.top-header-bar{
	height: 100px;
	width: 10000px;
	position:fixed;
	background-color:blue;
}

.title{
	position:fixed;
	top:395px;
	left:450px;
	transform: scale(.18);
	z-index:1;
}

.refresh-button{
	position:fixed;
	left: 100px;
	top: 685px;
	font-family:futura;
    color:white;
}

.sample-text-button{
	position:fixed;
	left: 300px;
	top: 685px;
	font-family:futura;
	color: white;
}

.send-button{
	position:fixed;
	left: 500px;
	top: 685px;
	font-family:futura;
	color: white;
}

.user-input-button{
	position:fixed;
	left: 300px;
	top: 685px;
	font-family:futura;
	color: white;
}

a:link{
	text-decoration:none;
	color:white;
}

a:visited{
	text-decoration: none;
	color:white;
}

a:hover{
	text-decoration:none;
	color:yellow;
	}

a:active{
	text-decoration:none;
	color:yellow;
}

.letter-wrapper-w{
    display: inline-block;
	margin: 20px 15px 60px 15px;
	width: 200px;
	height: 200px;
	position: relative;
}

.space{
	width: 110px;
	height: 200px;
	background-color:white;
}


.blue{
	background-color:blue;
	display:none;
}


.top-trapezoid{
    border-bottom: 20px solid blue;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;	
	position: relative;
}

.bottom-trapezoid {
    border-bottom: 20px solid blue;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;	
	transform: rotate(180deg);
	position:relative;
}


.h-bar{
	width: 20px;
	height: 60px;
	background-color: blue;
	position: absolute;
}

.h-bar-two{
	width: 20px;
	height: 43px;
	background-color: blue;
	position: absolute;
}
	

.bar {
	width: 20px;
	height: 180px;
	background-color: blue;
	position: absolute;
}

.short-bar {
	width: 20px;
	height: 80px;
	background-color: blue;
	position: absolute;
}

.shorter-bar {
	width: 20px;
	height: 20px;
	background-color: blue;
	position: absolute;

}

.left-side-triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 50px solid blue;
	border-bottom: 20px solid transparent;
	position: absolute;
}

.right-side-triangle {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 50px solid blue;
	border-bottom: 20px solid transparent;
	position: absolute;
}

.down-triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid blue;
}

.circle {
	width: 20px;
	height: 20px;
	background-color: blue;
	border-radius: 100%; 
	position: absolute;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid blue;
	position: absolute;
}


.vertical-bar{
	width: 110px;
	height: 20px;
	background-color:blue;
	position:absolute;
}

.long-vertical-bar{
	width: 20px;
	height: 204px;
	background-color:blue;
	position:absolute;
}

.j-bar{
	height: 20px;
	width: 60px;
	background-color: blue;
	position:absolute;
}

.tilt-bar-up{
   height: 20px;
   width: 150px;
   transform: rotate(50deg);
   position: absolute;
   background-color: blue;
}

.tilt-bar-q{
   height: 15px;
   width: 80px;
   transform: rotate(50deg);
   position: absolute;
   background-color: blue;
}

.tilt-bar-down{
   height: 20px;
   width: 99px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: blue;
}

.m-tilt{
   height: 20px;
   width: 70px;
   transform: rotate(40deg);
   position: absolute;
   background-color: blue;
}

.m-tilt-two{
   height: 20px;
   width: 80px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: blue;
}

.n-tilt{
   height: 20px;
   width: 125px;
   transform: rotate(40deg);
   position: absolute;
   background-color: blue;
}

.v-tilt{
   height: 20px;
   width: 70px;
   transform: rotate(40deg);
   position: absolute;
   background-color: blue;
}

.v-tilt-two{
   height: 20px;
   width: 70px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: blue;
}


.x-tilt{
   height: 20px;
   width: 60px;
   transform: rotate(40deg);
   position: absolute;
   background-color: blue;
}

.x-tilt-two{
   height: 20px;
   width: 60px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: blue;
}

.x-bar{
	height:45px;
	width: 20px;
	position: absolute;
	background-color: blue;
}
 

.a-top {
	top: 0;
	left: 0;
}

.a-mid {
	top: 70px;
	left: 5px;
}

.a-mid-two {
	top: 70px;
	left: 55px;
}

.a-left {
	top: 40px;
	left: 0;
}

.a-right {
	top: 20px;
	right: 0;
}

.b-bottom {
	top: 160px;
	right: 0;
}

.b-left {
	top: 20px;
	left: 0;
}

.b-right{
	top:100px;
	left:90px;
}

.b-triangle-down {
	top: 100px;
	left: 0;
}

.b-triangle-top{
    top: 20px;
	left: 90px;
}

.b-circle-top{
	top: 40px;
	left: 90px;
}

.b-circle-right{
	top: 120px;
	left:0;
}

.b-triangle-bottom{
	top: 60px;
	left: 90px;
}

.b-mid-trapezoid{
	top: 40px;
	left: 0;

}

.b-mid-trapezoid-two{
	top: 20px;
	left: 0;
}

.b-shorterbar-left{
	top: 160px;
	left:0;
}

.b-triangle-up-two{
	top:140px;
	left:0;
}

.c-triangle{
	top:160px;
	left:90px;
}

.e-mid {
	top:80px;
	left:0;
}

.e-bottom {
	top:180px;
	left:0;
}

.e-triangle-one{
	top:20px;
	left:0;
}

.e-triangle-two{
	top:60px;
	left:0;
}

.e-circle-one{
	top:40px;
	left:0;
}

.e-triangle-three{
	top:100px;
	left:0;
}

.e-triangle-four{
	top:140px;
	left:0;
}

.e-circle-two{
	top:120px;
	left:0;
}

.f-short{
	top:180px;
	left:0;
}

.g-triangle{
	top:100px;
	left:40px;
}

.h-bar-bottom{
	top:160px;
	left:0px;

}

.h-right{
	left: 100px;
}

.i-mid{
	left: 50px;
}

.j-bar-pos{
	top: 183px;
	left:0;
}

.j-triangle{
	top: 150px;
	left:0;
}

.j-shorter-bar{
	top: 170px;
	left: 0;
}

.tilt-bar-up-pos{
	top:130px;
	left:-15px;
}

.tilt-bar-down-pos{
	top:30px;
	left:-5px;
}

.m-tilt-pos{
	top:24px;
	left:40px;
}

.m-tilt-pos{
	top:20px;
	left:0px;
}

.m-tilt-two-pos{
	top:24px;
	left:43px;
}

.n-tilt-pos{
	top:40px;
	left:-1px;
}

.o-right{
	left: 90px;
}

.p-mid-bar{
	top: 60px;
	left:0;
}

.q-bar{
	top:160px;
	left:55px;
}

.u-bottom{
	top:184px;
	left:0px;

}

.u-shorterbar{
	top: 164px;
	left:0

}

.u-shorterbar-left{
	top: 164px;
}

.u-letter{
	top:144px;
}

.u-triangle-up-two{
	top:144px;
}

.u-circle-right{
	top:123px;
}

.u-top{
	top:0px;
}

.u-top-right{
	top:0px;
	left: 90px;
}

.s-mid-trapezoid-two{
	top:80px;
	left:0;
}

.s-shorter-bar{
	top:80px;
}

.s-triangle-four{
	top:160px;
	left:0;
}

.v-tilt-bar{
	top:163px;
	left:0px;
}

.v-tilt-two{
	top:163px;
	left:43px;
}

.v-tilt-bar-two{
	top:164px;
	left:83px;
}

.v-tilt-bar-pos{
	top:164px;
	left:125px;

}

.w-shorter-bar{
	top:0px;
	left:170px;
}

.w-shorter-bar-two{
	top:5px;
	left:170px;
}

.w-circle{
	top:124px;
	left:170px;

}

.w-down-triangle{
	top:104px;
	left:170px;

}

.w-right{
	top:24px;
	left:170px;

}

.x-up{
	top:47px;
	left:0;
}

.x-up-two{
	top:47px;
	left:33px;
}

.x-down{
	top:123px;
	left:0;
	transform: rotate(-220deg);
}

.x-down-two{
	top:123px;
	left:33px;
	transform: rotate(220deg);
}

.x-mid{
	top:85px;
	left:36px;
}

.x-bar-pos{
	left:73px;
	top:0px;
}

.x-bottom{
	top:145px;
}

.x-bottom-two{
	top:159px;
}

.y-triangle{
	top:107px;
	left:37px;
}

.y-bar{
	top:127px;
	left:37px;
}

.z-left{
	left:90px;
}

.z-bar{
	top:80px;
   left:0;	
}

.z-triangle{
	top:162px;
	left:90px;
}


.h-bar-yellow{
	width: 20px;
	height: 60px;
	background-color: yellow;
	position: absolute;
}

.h-bar-two-yellow{
	width: 20px;
	height: 43px;
	background-color: yellow;
	position: absolute;
}
	

.bar-yellow {
	width: 20px;
	height: 180px;
	background-color: yellow;
	position: absolute;
}

.short-bar-yellow {
	width: 20px;
	height: 80px;
	background-color: yellow;
	position: absolute;
}

.shorter-bar-yellow {
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;

}

.left-side-triangle-yellow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 50px solid yellow;
	border-bottom: 20px solid transparent;
	position: absolute;
}

.right-side-triangle-yellow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 50px solid yellow;
	border-bottom: 20px solid transparent;
	position: absolute;
}

.down-triangle-yellow {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid yellow;
}

.circle-yellow {
	width: 20px;
	height: 20px;
	background-color: yellow;
	border-radius: 100%; 
	position: absolute;
}

.triangle-up-yellow {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid yellow;
	position: absolute;
}


.vertical-bar-yellow{
	width: 110px;
	height: 20px;
	background-color:yellow;
	position:absolute;
}

.long-vertical-bar-yellow{
	width: 20px;
	height: 204px;
	background-color:yellow;
	position:absolute;
}

.j-bar-yellow{
	height: 20px;
	width: 60px;
	background-color: yellow;
	position:absolute;
}

.tilt-bar-up-yellow{
   height: 20px;
   width: 150px;
   transform: rotate(50deg);
   position: absolute;
   background-color: yellow;
}

.tilt-bar-q-yellow{
   height: 15px;
   width: 80px;
   transform: rotate(50deg);
   position: absolute;
   background-color: yellow;
}

.tilt-bar-down-yellow{
   height: 20px;
   width: 99px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: yellow;
}

.m-tilt-yellow{
   height: 20px;
   width: 70px;
   transform: rotate(40deg);
   position: absolute;
   background-color: yellow;
}

.m-tilt-two-yellow{
   height: 20px;
   width: 80px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: yellow;
}

.n-tilt-yellow{
   height: 20px;
   width: 125px;
   transform: rotate(40deg);
   position: absolute;
   background-color: yellow;
}

.v-tilt-yellow{
   height: 20px;
   width: 70px;
   transform: rotate(40deg);
   position: absolute;
   background-color: yellow;
}

.v-tilt-two-yellow{
   height: 20px;
   width: 70px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: yellow;
}


.x-tilt-yellow{
   height: 20px;
   width: 60px;
   transform: rotate(40deg);
   position: absolute;
   background-color: yellow;
}

.x-tilt-two-yellow{
   height: 20px;
   width: 60px;
   transform: rotate(-40deg);
   position: absolute;
   background-color: yellow;
}

.x-bar-yellow{
	height:45px;
	width: 20px;
	position: absolute;
	background-color: yellow;
}

.top-trapezoid-yellow{
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;	
	position: relative;
}

.bottom-trapezoid-yellow{
    border-bottom: 20px solid yellow;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	height: 0;	
	transform: rotate(180deg);
	position:relative;
}
