
	* { box-sizing: border-box;}

	body {
	margin: 0;
	padding: 0;

	}


	.yellow-box { 
	width: 768px;
	height: 768px;
	background: #F8E71C;
	margin: 0 auto 0 auto;

	}

	.blue-box{
	width: 568px;
	height: 568px;
	background: #202665;
	margin: 0 auto 0 auto;
	padding-bottom: 100px;
	
    } 

    .green-box{

    width: 468px;
    height: 468px;
    background: #009E4F;
    margin: 0 auto 0 auto;
    padding-bottom: 100px;

    }

    .c4 {

	width: 768px;
	height: 100px;
	background: #D0021B;
	padding: 0 700px 30px 100px;

	}

	.c5 {

	width: 448px;
	height: 70px;
	background: #202665px;
	}

	


	

	