
	* { box-sizing: border-box;}

body{
	margin: 0;
	padding: 0;
}

	.yellow-box { 
	width: 768px;
	height: 768px;
	background: #F8E71C;
	padding: 100px;

	}

	.blue-box{
	width: 568px;
	height: 568px;
	background: #202665;
	margin: 0 auto 0 auto;
	
    } 

    .green-box{

    width: 368px;
    height: 368px;
    background: #009E4F;
   	margin: 0 auto 0 auto;

    }

   .red-bar{
   	width: 768px;
   	height: 100px;
   	margin: 0 auto 0 auto;
   	background: #ED2025;
   }



	


	

	