body{
    background-color: black;
}

.location {
    color: black;
    font-size: 40px;
    font-style: helvetica;
    top: 20px;
    left: 100px;
    position: absolute;
}

a:link, a:visited {
    text-decoration: none;
}

.spotlight {
    background: #fff;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: fixed;
    z-index: -1;
}

.poem {
    background: #f1f1f1;
    font-family: helvetica;
    color: blue;
    display: none;
}


