body{
    background-color: black;
}

.location {
    color: black;
    font-size: 40px;
    font-style: helvetica;
    top: 20px;
    left: 100px;
    position: absolute;
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}


.spotlight {
    background: #fff;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: fixed;
    z-index: -1;
}

.poem {
    background: #f1f1f1;
    font-family: helvetica;
    font-size: 100px;
    color: blue;
    height: 100%;
    width: 100%;
    position: fixed;
}

.circle{
    width: 60px;
    height: 60px;
    background: gray;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    position: fixed;
    top:650px;
    left:1200px;
    z-index: -1;

}

.button{
    width: 50px;
    height: 50px;
    background: radial-gradient(gray, white);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    position: fixed;
    bottom:655px;
    left:1205px;
}

.hide { display: none; }

